/************************* PARAMETRES GENERAUX *************************/

body {
    margin: 0;
    padding: 0;
    font-family: 'Montserrat', sans-serif;
}

* {
    box-sizing: border-box;
}

a,
a:hover {
    text-decoration: none;
    color: black;
}

.content {
    min-height: 600px;
    margin-top: 200px;
    padding: 2%;
}

.links {
    font-size: 18px;
    margin-bottom: 5%;
}

.red {
    font-size: 12px;
    padding-left: 5px;
    padding-right: 5px;
    color: #DA5B5A;
}

/************************** BUTTONS **************************/

#button_contact,
#button_connection,
#button_register,
#button_open_search,
#button_search,
#button_add,
#button_update_profil,
#button_updates_book,
#button_search_engine,
#button_reset_pass,
#button_reset_pass_request {
    font-weight: bold;
    background: #DA5B5A !important;
    border: 1px solid #DA5B5A !important;
}

#button_close,
#button_close_block_updates {
    color: rgba(0, 0, 0, 0.6);
    font-size: 25px;
    background: #f5f5f7;
    font-weight: normal !important;
    border: 1px solid rgba(0, 0, 0, 0.6) !important;
}

#btn_delete_account {
    background: #bb2a2a !important;
    border-color: initial !important;
}


/************************** THEME MODE **************************/

.darkMode {
    background: black;
    color: white;
}

.lightMode {
    background: white;
    color: black;
}


/************************** HEADER **************************/
header {
    top: 0;
    left: 0;
    width: 100%;
    height: 160px;
    z-index: 1000;
    position: fixed;
    background: white;
}

#intro_header {
    width: 100% !important;
}

/* NAV */
#nav_header {
    width: 100% !important;
    justify-content: inherit !important;
}

#navbarNav {
    text-align: center !important;
    justify-content: center !important;
}

/* AVATAR */
#avatar_header {
    margin-top: 1.2%;
    margin-left: 1%;
}

#avatar_header img {
    width: 45px;
    height: 45px;
    border-radius: 50%;
}

/* TITLE BRAND */
#librum {
    padding: 1%;
    margin-left: 5%;
    letter-spacing: 4px;
    font-size: 2.4rem;
    font-family: 'Grenze Gotisch', cursive;
}

/* HAMBURGER */
.navbar-toggler {
    background: white !important;
}

.navbar-toggler-icon {
    width: inherit;
    height: inherit;
    content: inherit;
    color: black !important;
    background-image: none !important;
}

/* LIGHTMODE/DARKMODE */
#btn_toggle_theme {
    cursor: pointer;
}

/************************* HOME *************************/

/* SLOGAN */
#slogan {
    font-size: 26px;
    margin-bottom: 5%;
    text-align: center;
    letter-spacing: 8px;
}

/* SLIDER */
#slider {
    margin-top: 140px;
}

#cover {
    width: 150%;
}

#mainImage {
    width: 100%;
}

/* FEATURES */
.features,
.features_right {
    width: 45%;
    padding: 2%;
    margin-left: auto;
    margin-right: auto;
    margin-bottom: 8%;
    text-align: justify;
}

.features h2,
.features_right h2 {
    border-bottom: 1px solid;
}

.features_right h1,
.features_right h2 {
    text-align: right;
    letter-spacing: 4px;
}

#feature_dark_mode {
    width: 100%;
    display: flex;
    background: #DA5B5A;
    justify-content: center;
}

#feature_dark_mode>div {
    text-align: right;
    padding: 1%;
}

#feature_dark_mode div {
    width: 30%;
    display: flex;
    flex-direction: column;
    justify-content: center;
}

#feature_dark_mode p {
    font-size: 19px;
    text-align: justify;
}

#feature_dark_mode img {
    width: 100%;
}

/* FRIEZE */
#frieze {
    width: 100%;
    overflow: hidden;
    margin-top: -8%;
}

/************************* BOOKCASE *************************/

/* HEADER BOOKCASE */
.number_book {
    width: 50px;
    height: 50px;
    border-radius: 50%;
    text-align: center;
    display: inline-block;
    background: #DA5B5A;
}

#header_bookcase {
    display: flex;
    margin-bottom: 8%;
    align-items: center;
    justify-content: space-between;
}

#intro_header_bookcase {
    width: 40%;
    border-bottom: 1px solid;
}

#infos_count {
    display: flex;
    justify-content: space-between;
}

#infos_count span {
    font-size: 12px;
    opacity: 0.7;
}

/* BLOCK SEARCH */

#block_search,
#block_updates {
    top: 140px;
    left: 5%;
    width: 90%;
    padding: 2%;
    margin: auto;
    z-index: 1001;
    position: absolute;
    overflow-y: scroll;
    background: #f5f5f7;
}

#block_search {
    height: 700px;
    display: none;
}

#block_updates {
    height: 950px;
    display: none;
}

#search_label {
    font-size: 22px;
    color: black;
}

/* BLOCK RESULT */
#block_result {
    padding: 4%;
    width: 600px;
    display: none;
    margin-top: 5%;
    margin-left: 10%;
    color: black !important;
}

#no_result {
    display: none;
    margin-top: 5%;
    margin-left: 10%;
    color: black !important;
}

#button_add_wish {
    background: none !important;
    border: none !important;
    text-decoration: none !important;
    box-shadow: none !important;
    margin-top: 2%;
}

#more_sign {
    cursor: pointer;
    color: #DA5B5A;
    font-weight: bold;
}

/* DISPLAY LIST BOOKS */
#block_shelves {
    width: 100%;
    padding: 1%;
    display: flex;
    margin-top: 1%;
    flex-wrap: wrap;
    margin-left: auto;
    margin-right: auto;
    justify-content: center;
}

#card_shelves {
    margin: 2%;
    padding: 1.5%;
    width: 13rem;
}

.card h5,
.card h6,
.card p {
    color: black !important;
}

.card img {
    max-width: 138px;
    max-height: 208px;
}

#nothing_to_show {
    margin-top: 8%;
}

#title_list {
    font-size: 14px;
    text-align: left;
    font-weight: bold;
}

#author_list {
    font-size: 12px;
    text-align: left;
}

/* DISPLAY ONE BOOK */

#card_book {
    width: 60%;
    padding: 4%;
    margin: auto;
}

.card_infos {
    display: flex;
    justify-content: space-between;
}

#flags {
    width: 15%;
    display: flex;
    margin-left: auto;
    justify-content: space-around;
}

#flags div {
    color: black !important;
}

.card .success_flags,
.card .errors_flags {
    font-weight: bold;
    color: white !important;
}

.fav,
.lend,
.add_wish,
.delete_book {
    margin-top: 6%;
    text-align: center;
}

.fav a {
    font-size: 1.1em;
    color: #d54444 !important;
}

.lend a,
.add_wish a,
.delete_book a {
    font-size: 1.1em;
    color: black !important;
}

.fav a:hover,
.lend a:hover,
.add_wish a:hover,
.delete_book a:hover {
    font-size: 1.4em;
}

#link_lent_books a {
    font-size: 12px;
}

#line {
    width: 70%;
    height: 1px;
    margin-top: 8%;
    margin-bottom: 6%;
    margin-left: auto;
    margin-right: auto;
    background: rgba(0, 0, 0, 0.1);
}

.errors_flags,
.success_flags {
    width: auto;
    padding: 2%;
    height: auto;
    margin-left: auto;
    text-align: center;
    border-radius: 15px;
    background: black;
    border: 1px solid black;
}

.errors_triangle,
.success_triangle {
    width: 0;
    height: 0;
    margin-top: 4%;
    margin-left: auto;
    margin-right: 8.5%;
    border-left: 15px solid transparent;
    border-right: 15px solid transparent;
    border-bottom: 15px solid black;
}

#button_display_updates {
    position: relative;
    text-align: right;
}

#btn_update_infos_book {
    z-index: 5;
    right: 21%;
    opacity: 0.6;
    margin-top: 0.7%;
    cursor: pointer;
    font-size: 0.8em;
    position: absolute;
    color: black !important;
}

/* UPDATES BOOK */

#block_updates form {
    padding: 2%;
    color: black !important;
}

#block_cover img {
    max-width: 138px;
    max-height: 208px;
}

#card_book .success,
#card_book .errors {
    color: white !important;
}

#update_title {
    color: black !important;
}

/* FILTERS */

#filters {
    display: flex;
    justify-content: space-around;
}

.filters {
    letter-spacing: 5px;
}

.filters p {
    padding: 2% !important;
}

#block_search_engine {
    width: 95%;
    margin-top: 2%;
    margin-left: auto;
    margin-right: auto;
}

#input_search_engine {
    width: 95%;
    height: 35px;
    border: 1px solid;
    border-radius: 5px;
    border-color: rgba(0, 0, 0, 0.1);
}

#back_recherche {
    margin-top: 4%;
}

#search_no_result {
    padding-bottom: 8%;
    text-align: center;
}

#separation {
    width: 30%;
    height: 1px;
    margin-top: 5%;
    margin-bottom: 5%;
    margin-left: auto;
    margin-right: auto;
    border-bottom: 1px solid;
}

.bookshelf_search_details {
    font-size: 12px !important;
}

.red_dash {
    font-size: 5px;
    color: #d54444;
}

.activate {
    padding-left: 0.8% !important;
    border-left: 5px solid #d54444 !important;
}

.desactivate {
    border-left: inherit !important;
}

/************************* PAGINATION *************************/

#block_pagination {
    display: flex;
    margin-bottom: 4%;
    justify-content: center;
}

.page-link,
.page-link a {
    color: black !important;
}

.page-item.active .page-link {
    background-color: #DA5B5A !important;
    border-color: #DA5B5A !important;
}

/************************* FORMS *************************/

.display_form {
    width: 80%;
    margin: auto;
}

.display_form h1 {
    margin: 2%;
    letter-spacing: 2px;
    text-align: center;
}

#connection {
    margin-bottom: 8%;
}

.errors,
.success {
    padding: 2%;
    color: white !important;
    margin-top: 2%;
    border-radius: 5px;
    font-weight: bold;
}

.errors {
    background: #DA5B5A;
}

.success {
    background: #2EA44F;
}

.cross {
    font-size: 10px;
}

.logged {
    font-size: 10px;
    padding-left: 5px;
    padding-right: 50px;
    color: #2EA44F;
}

.asterisk {
    font-size: 12px;
    padding: 2px;
    color: #DA5B5A;
}

#mentions_required {
    font-size: 10px;
    text-align: right;
    margin-bottom: -2%;
}

.bad {
    border: 3px dotted #DA5B5A;
}

#link_reset_pass_request {
    margin-top: 5%;
    padding-left: 5px;
    font-weight: bold;
    letter-spacing: 2px;
    border-left: 2px solid #DA5B5A;
}

#instructions {
    text-align: center;
}

/************************* UPDATE PROFIL PAGE *************************/

#block_avatar {
    width: 110px;
    margin-top: 4%;
    margin-left: auto;
    margin-right: auto;
}

#block_avatar img {
    width: 100px;
    height: 100px;
    border-radius: 50%;
}

#user_avatar,
#cover_book {
    width: 150px;
    overflow: hidden;
}

#block_delete_account {
    width: 90%;
    margin-top: 10%;
    text-align: right;
}

/************************* ERROR PAGE *************************/

#error {
    width: 561px;
    margin: auto;
}

#para_error {
    width: 561px;
    margin: auto;
    text-align: center;
}

/************************* FOOTER *************************/

/* CONTACT */
#contact {
    width: 50%;
    padding: 2%;
    margin-left: auto;
    margin-right: auto;
    margin-bottom: -5%;
    text-align: center;
}

/* ARROW GO TOP */
#arrow {
    text-align: right;
    margin-bottom: 1.5%;
    margin-top: 1.5%;
    margin-right: 1%;
}

#arrow a {
    background: #DA5B5A;
    padding: 1%;
}

/* LEGALS MENTIONS */
#mentions,
#privacyPolicy {
    width: 80%;
    padding: 4%;
    font-size: 18px;
    text-align: justify;
    margin-left: auto;
    margin-right: auto;
    font-size: 18px;
    text-align: justify;
    border: 1px solid;
}

#mentions h1,
#privacyPolicy h1 {
    font-size: 22px;
    text-align: center;
}

/* FOOTER */
footer {
    width: 100%;
    margin: auto;
    display: flex;
    justify-content: space-around;
}

/************************* RESPONSIVE *************************/

/* MOBILES */
@media all and (min-width: 320px) and (max-width: 767px) {

    /* PARAM */
    .content {
        min-height: 380px;
        margin-top: 140px;
        margin-bottom: 8%;
    }

    button,
    input {
        font-size: 14px !important;
    }

    /* HEADER */
    header {
        height: 135px;
    }

    #intro_header {
        text-align: center !important;
    }

    .navbar-toggler {
        border: 1px solid black;
    }

    .navbar-nav {
        color: black;
        padding: 3%;
        margin-top: 5%;
        border-radius: 3%;
        background: white;
        width: 100% !important;
    }

    .navbar-nav a {
        color: black !important;
    }

    #librum {
        font-size: 22px;
    }

    /* SLIDER */
    #slider {
        margin-top: 110px !important;
        overflow: hidden !important;
    }

    #slider img {
        width: 130%;
    }

    /* SLOGAN */
    #slogan {
        padding: 2% !important;
        font-size: 20px !important;
    }

    /* FEATURES */
    .features,
    .features_right {
        width: 90% !important;
        font-size: 14px !important;
    }

    .features h1,
    .features_right h1,
    .features h2,
    .features_right h2 {
        font-size: 23px !important;
    }

    .features h3,
    .features_right h3 {
        font-size: 20px !important;
    }

    #feature_dark_mode {
        flex-direction: column !important;
    }

    #feature_dark_mode div {
        width: 100% !important;
        padding: 4% !important;
    }

    #feature_dark_mode h1,
    #feature_dark_mode h2 {
        margin-top: 2%;
        font-size: 24px !important;
        text-align: center !important;
    }

    #feature_dark_mode img {
        margin-top: -15% !important;
    }

    /* FRIEZE */
    #frieze {
        margin-top: -28% !important;
    }

    #frieze img {
        height: 350px !important;
    }

    /* BOOKCASE */
    #header_bookcase {
        margin-bottom: 0 !important;
        flex-direction: column-reverse !important;
    }

    #header_bookcase h1 {
        font-size: 1.6rem;
    }

    #intro_header_bookcase {
        width: 100% !important;
        margin-bottom: 5% !important;
    }

    #search_label {
        font-size: 18px !important;
        margin-top: 15% !important;
    }

    #button_open_search {
        margin-bottom: 25% !important;
    }

    #filters {
        font-size: 11px;
    }

    .filters {
        letter-spacing: 2px;
    }

    #block_search_engine {
        width: 100% !important;
    }

    #input_search_engine {
        font-size: 12px;
    }

    #input_search_engine {
        width: 85% !important;
        height: 41px !important;
    }

    #block_shelves {
        padding: 0 !important;
        margin-top: 4% !important;
        margin-bottom: 5% !important;
        justify-content: space-around !important;
    }

    #card_shelves {
        margin: 0.5% !important;
        width: 9.4rem !important;
    }

    .number_book {
        width: 32px !important;
        height: 32px !important;
    }

    /* SELECTED BOOK */

    #btn_update_infos_book {
        right: 3% !important;
        margin-top: 3% !important;
    }

    #card_book {
        width: 100% !important;
        padding: 2% !important;
    }

    #card_book img {
        margin-left: 6.5% !important;
    }

    .card_infos {
        flex-direction: column !important;
        margin-bottom: 5% !important;
    }

    #flags {
        width: 55% !important;
    }

    #block_result {
        width: 270px !important;
        margin-left: 1% !important;
    }

    #button_add_wish,
    #more_sign {
        font-size: 12px !important;
    }

    /* FORMS */
    .display_form {
        width: 90% !important;
    }

    .display_form h1 {
        font-size: 24px !important;
        margin-top: 10% !important;
    }

    /* PROFIL */
    #user_avatar,
    #cover_book {
        width: 132px !important;
    }

    /* LEGALS MENTIONS */
    #mentions,
    #privacyPolicy {
        width: 98% !important;
    }

    /* CONTACT */
    #contact {
        width: 90% !important;
    }

    /* ARROW GO TOP */
    #arrow {
        margin-top: 2% !important;
        margin-bottom: 4% !important;
        margin-right: 10% !important;
    }

    #arrow a {
        padding: 3% !important;
    }

    /* FOOTER */
    footer {
        width: 90% !important;
        text-align: center;
        flex-direction: column !important;
        justify-content: center !important;
    }
}

/* TABLETS */
@media all and (min-width: 768px) and (max-width: 1023px) {

    /* HEADER */
    header {
        height: 135px;
    }

    #intro_header {
        text-align: center !important;
    }

    .navbar-toggler {
        border: 1px solid black;
    }

    .navbar-nav {
        color: black;
        padding: 3%;
        margin-top: 5%;
        border-radius: 3%;
        background: white;
        width: 100% !important;
    }

    .navbar-nav a {
        color: black !important;
    }

    #librum {
        font-size: 35px;
    }

    /* HOME */
    .features,
    .features_right {
        width: 65%;
    }

    #feature_dark_mode div {
        width: 100% !important;
        padding: 4% !important;
    }

    #feature_dark_mode h1,
    #feature_dark_mode h2 {
        margin-top: 2%;
        font-size: 28px !important;
        text-align: center !important;
    }

    /* BOOKCASE */
    #header_bookcase h1 {
        font-size: 1.8rem;
    }

    #intro_header_bookcase {
        width: 60%;
    }

    #input_search_engine {
        width: 92%;
    }

    .number_book {
        width: 40px;
        height: 40px;
    }

    /* GET BOOK */
    #card_book {
        width: 90%;
    }

    #btn_update_infos_book {
        right: 8%;
        margin-top: 1%;
    }

    #flags {
        width: 35%;
    }

    /* ADD BOOK */
    #block_result {
        width: 550px;
    }

    /* FRIEZE */
    #frieze {
        margin-top: -28% !important;
    }

    /* FORMS */
    .display_form h1 {
        font-size: 30px !important;
    }

    /* FOOTER */
    footer {
        width: 90% !important;
        text-align: center;
        flex-direction: column !important;
        justify-content: center !important;
    }
}